/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

/* COMMON */
body{
    height: 100vh;
}

.page-container{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 20px;
}

.player{
    background-color: #282828;
    height: 80px;
    position: relative;
    z-index: 100;
    width: 100%;
    left: 0;
    bottom: 0;
}
/* TYPO */
body{
    font-family: 'Montserrat', sans-serif;
}

/* ASIDE */

aside{
    background-color: #000000;
    width: 300px;
}

main{
    width: calc(100% - 300px) ;
}

.debug-aside{
    height: calc(100vh - 80px);

}

.aside-menu{
    color: white;
}

.right-section{
    width: calc(100% - 300px);
    height: calc(100% - 80px);
    
}

.upgrade-scroll{
    text-align: right;
    background-color: #080b12;
    position: fixed;
    height: 80px;
    width: calc(100% - 300px);
    z-index: 99;
    right: 0;
}

.upgrade-scroll button{
    background-color:#080b12;
    color: white;
    padding: 10px 20px;
    border: 1PX SOLID WHITE;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.discover-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: grey;

}

.main-section{
    background-color: #141922;
    color: white;
    height: calc(100vh - 160px);
    margin-top: 80px;
    overflow-y: auto;
}

.logo-desktop img{
    max-height: 80px;
    padding: 15px;
}

.recently-played h2{
    margin-left: 15px;
    margin-top: 30px;
}

.albums-row{
    display: flex;
    
}
.album-card{
    text-align: center;
    padding: 15px;
}
.album-card img{
    max-width: 180px;
}