/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* COMMON */
body{
    height: 100vh;
}

.page-container{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 14px;
   
}

.player{
    background-color: #282828;
    height: 80px;
    position: relative;
    z-index: 100;
    width: 100%;
    left: 0;
    bottom: 0;
}
/* TYPO */
body{
    font-family: 'Montserrat', sans-serif;
}

small{
    color: grey;
}

.created-for{
    padding-left: 15px;
}


/* ASIDE */

aside{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 300px;
    overflow-y: hidden;
}

.aside-menu img{
    height: 25px;
    padding-right: 15px;
}

.aside-menu li{
    display: flex;
    align-items: center;
    list-style: none;
    
    padding-left: 20px;
    padding-bottom: 15px;
}

.aside-menu h3{
    
    padding-left: 20px;
    padding-bottom: 10px;
}

.aside-menu span{
    color: grey;
    padding-left: 10px;
    
}
.aside-menu a{
    color: grey;
    text-decoration: none;
}
main{
    width: calc(100% - 300px) ;
}

.aside{
    height: calc(100vh - 80px);
    position: relative;

}

.aside-menu{
    color: white;
}

.playlist-nav{
    padding-top: 10px;
    overflow-y: auto;
    color: grey;
}
.playlist-header{
    margin-top: 20px;
}
.playlist-header i{
    font-size: 36px;
}

.create-playlist{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.account{
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000000;
}

.download{
    display: flex;
    align-items: center;
    
}

.download img{
    height: 15px;
    padding-right: 10px;
}

hr{
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
}
.profile{
    display: flex;
    align-items: center;
    
}

.profile img{
    padding-right: 10px;
    height: 15px;
}

.right-section{
    width: calc(100% - 300px);
    height: calc(100% - 80px);
    
}

.upgrade-scroll{
    text-align: right;
    background-color: #080b12;
    position: fixed;
    height: 80px;
    width: calc(100% - 300px);
    z-index: 99;
    right: 0;
}

.upgrade-scroll button{
    background-color:#080b12;
    color: white;
    padding: 10px 20px;
    border: 1PX SOLID WHITE;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.discover-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    color: grey;

}

.discover-menu li{
    padding-left: 15px;
}
.main-section{
    background-color: #141922;
    color: white;
    height: calc(100vh - 160px);
    margin-top: 80px;
    overflow-y: auto;
}

.logo-desktop img{
    max-height: 80px;
    padding: 15px;
}

.recently-played h2{
    margin-left: 15px;
    margin-top: 30px;
}

.albums-row{
    display: flex;
    
}
.album-card{
    text-align: center;
    width: calc(100% / 6 - 15px);
    padding: 15px;
}
.album-card img{
    width: 180px;
}

/* RESPONSIVE */
@media screen and (max-width: 1100px) {
    .albums-row{
        flex-wrap: wrap;
    }
    .album-card{
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 700px) {
    .albums-row{
        flex-wrap: wrap;
    }
    .album-card{
        width: calc(100% / 2 - 15px);
    }
}



/* FOOTER */

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    align-items: center;
    
    max-width: 25%;
}
.artwork img{
    height: 40px;
    
}

.artwork{
    padding-left: 15px;
    padding-right: 15px;
}

.song-detail{
    padding-right: 20px;
}
.like{
    padding-left: 30px;
    padding-right: 15px;
}

.folder{
    
    padding-right: 15px;
}
.song-detail h3{
    color: white;
}

.footer-left i{
    color: grey;
}


.footer-center{
    width: 50%;
}
.tools-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#play-icon{
    font-size: 20px;
}
.tools-icons li{
    padding-left: 10px;
    padding-right: 10px;
}
.timeline-elements{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-elements li{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.timeline-elements small{
    color: white;
    font-weight: bold;
}
.footer-right{
    width: 25%;
}

.right-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-icon li{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}